.level .app-name {
  background-color: #123c69;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-left: 1%;
  font-family: Trebuchet MS;
  margin-top: 14px;
}

.App-header {
  background-color: #123c69;
  min-height: 70px;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
}

.card-content .media .media-content .news-title {
  font-family: "Roboto,RobotoDraft,Helvetica,Arial,sans-serif";
  font-size: 15px;
}

.div-news-cards {
  padding-left: 11%;
}

.search-bar {
  position: absolute;
  top: 115px;
  left: 15px;
}

input.input.search-bar {
  height: 40px;
  width: 200px;
}

.short-app-name {
  display: none;
}
.smallClock {
  display: none;
}

/* Clock Component */

.clock {
  background-color: #123c69;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1%;
  font-size: 15px;
  font-family: Trebuchet MS;
  font-weight: bold;
  color: white;
  margin-top: 14px;
}

.read-more {
  width: 200px;
  margin-top: 45px;
}

.news-date {
  position: float;
  display: flex;
  flex-direction: row;
  font-style: italic;
}

.tile .div-img {
  flex-direction: row;
  width: 50%;
  padding: 0 0 0 0;
}

.columns.div-news-cards {
  height: 20px;
  margin-bottom: 100px;
  float: right;
  margin-right: 10px;
  margin-left: 70px;
}

.tile .div-news {
  flex-direction: row;
  padding-top: 5%;
  margin-left: 0;
  margin-bottom: 10px;
}

.imgscale {
  width: 50%;
  height: auto;
  padding-left: 5%;
}

.beers {
  width: 100%;
  max-height: 250px;
  margin-top: 0px;
}

.card {
  width: 400px;
  height: 420px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 5px;
  margin-top: 50px;
  font-family: "Roboto,RobotoDraft,Helvetica,Arial,sans-serif";
  font-size: small;
}

.cardinput {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-bottom: 0px;
  margin-top: 50px;
}

.div-menu-item {
  width: 200px;
  margin-left: 20px;
  float: left;
  margin-right: 5px;
  margin-top: 0px;
}

.vl {
  border-left: 2px solid whitesmoke;
  height: 34px;
  position: absolute;
  left: 16%;
  margin-left: -3px;
  top: 20px;
}

.vl1 {
  border-left: 2px solid whitesmoke;
  height: 34px;
  position: absolute;
  left: 88.3%;
  margin-left: -33px;
  top: 20px;
}

.weather {
  color: white;
  position: absolute;
  margin-left: -15px;
  left: 18%;
  font-size: 15px;
  font-family: Trebuchet MS;
  font-weight: bold;
  margin-top: 6px;
}

.region{
  position: absolute;
  margin-left: -15px;
  left: 77%;
  font-size: 15px;
  font-family: Trebuchet MS;
  font-weight: bold;
  margin-top: 6px;
}

/* Media Query for Mobile and Tablet */
@media screen and (max-width: 411px)
{
  .weather {
    color: white;
    position: absolute;
    margin-left: 25px;
    margin-top: 5px;
    left: 52%;
    font-size: 15px;
    font-family: Trebuchet MS;
    font-weight: bold;
  }

  .short-app-name {
    display: inline-block;
    background-color: #123c69;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 15%;
    font-family: Trebuchet MS;
    margin-top: 10px;
  }
  .smallClock {
    display: inline-block;
    color: white;
    font-family: Trebuchet MS;
    margin-left: 2%;
    font-size: 15px;
    font-weight: bold;
  }

  .app-name {
    display: none;
  }

  .clock {
    display: none;
  }

  .search-bar {
    position: absolute;
    top: 96px;
    left: 180px;
  }
  input.input.search-bar {
    height: 29px;
    width: 50%;
  }

  .card {
    margin-left: 20px;
    margin-right: 20px;
    width: 320px;
    height: auto;
    margin-top: 70px
  }
  .div-menu-item {
    display: none;
  }
  .vl {
    border-left: 2px solid whitesmoke;
    height: 34px;
    position: absolute;
    left: 16%;
    margin-left: -3px;
    top: 10;
  }

  .vl1 {
    display: none;
  }

  .vl {
    display: none;
  }

  .region{
    position: absolute;
    margin-left: 1px;
    left: 1%;
    font-size: 15px;
    font-family: Trebuchet MS;
    font-weight: bold;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .vl1 {
    display: none;
  }

  .vl {
    display: none;
  }

  .region{
    position: absolute;
    margin-left: 1px;
    left:1%;
    font-size: 15px;
    font-family: Trebuchet MS;
    font-weight: bold;
    margin-top: 40px;
  }


}

@media screen and (max-width: 1024px) {
  .vl1 {
    border-left: 2px solid whitesmoke;
    height: 34px;
    position: absolute;
    left: 16%;
    margin-left: 62%;
    top: 10;
  }

  .vl {
    border-left: 2px solid whitesmoke;
    height: 34px;
    position: absolute;
    left: 16%;
    margin-left: 12%;
    top: 10;
  }

  .weather {
    color: white;
    position: absolute;
    margin-left: 25px;
    margin-top: 5px;
    left: 52%;
    font-size: 15px;
    font-family: Trebuchet MS;
    font-weight: bold;
  }
}


/* Iphone 5

/* Portrait and Landscape */
/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .weather {
      color: white;
      position: absolute;
      margin-left: 20px;
      margin-top: 5px;
      left: 54%;
      font-size: 12px;
      font-family: Trebuchet MS;
      font-weight: bold;
    }
  
    .short-app-name {
      display: inline-block;
      background-color: #123c69;
      font-size: 30px;
      color: white;
      font-weight: bold;
      margin-left: 8%;
      font-family: Trebuchet MS;
      margin-top: 10px;
    }
    .smallClock {
      display: inline-block;
      color: white;
      font-family: Trebuchet MS;
      margin-left: 2%;
      font-size: 12px;
      font-weight: bold;
    }
  
    .app-name {
      display: none;
    }
  
    .clock {
      display: none;
    }
  
    .search-bar {
      position: absolute;
      top: 96px;
      left: 180px;
    }
    input.input.search-bar {
      height: 29px;
      width: 40%;
    }
  
    .card {
      padding-left: 20px;
      padding-right: 0px;
      width: 300px;
      height: auto;
      margin-top: 70px;
      margin-left: 10px;
    }
    .div-menu-item {
      display: none;
    }
    .vl {
      border-left: 2px solid whitesmoke;
      height: 34px;
      position: absolute;
      left: 16%;
      margin-left: -3px;
      top: 10;
    }
  
    .vl1 {
      display: none;
    }
  
    .vl {
      display: none;
    }
  
    .region{
      position: absolute;
      margin-left: 1px;
      left: 1%;
      font-size: 15px;
      font-family: Trebuchet MS;
      font-weight: bold;
      margin-top: 40px;
    }

}  */